*:focus {
    outline: none;
}

::selection {
    background: #5ab4bd;
    color: #fff;
}

body, table {
    width: 300px;
    height: auto;
    font-family: "Meiryo UI";
    font-size: 12px;
    user-select: none;
}

.tab_top_content {
    display: none;
}

input[name="tab_top"] {
    display: none;
}

#rd_content_main:checked ~ #content_main,
#rd_content_setting:checked ~ #content_setting {
    display: block;
}

#to_general_setting {
    font-size: 11px;
    color: #5ab4bd;
    text-decoration: underline;
    text-decoration-color: #5ab4bd;
    display:inline-block;
    padding-top: 2px;
}

.arrow {
    position: relative;
    display: inline-block;
    padding: 24px 0 0 24px;
    vertical-align: middle;
    text-decoration: none;
    transform: rotate(180deg);
}

.arrow::before,
.arrow::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

#return_from_general_setting::before{
    width: 24px;
    height: 24px;
    background: #5ab4bd;
}
#return_from_general_setting::after{
    left: 6px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#general_setting_title {
    background: #5ab4bd;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    width: 80%;
    height: 24px;
    text-align:center;
    margin: 10px auto;
}

#general_setting {
    overflow-y: auto;
    height: calc(100% - 46px);
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* タブ切り替え全体のスタイル */
.tabs {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* タブのスタイル */
.tab_item {
    width: calc(100%/3);
    height: 30px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.1s ease;
}
.tab_item:hover {
    opacity: 0.9;
}

/* ラジオボタンを全て消す */
input[name="tab_item"] {
    display: none;
}

/* タブ切り替えの中身のスタイル */
.tab_content {
    display: none;
    padding: 0px 15px 5px;
    clear: both;
    overflow: hidden;
    height: 470px;
}

/* 選択されているタブのコンテンツのみを表示 */
#rd_save:checked ~ #save_content,
#rd_restore:checked ~ #restore_content,
#rd_edit:checked ~ #edit_content {
    display: block;
}

/* 選択されているタブのスタイルを変える */
.tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
}

select {
    width: 100%;
    height: 10em;
}

h1 {
    font-size: 15px;
    color: #fff;
    position: relative;
    padding: 0.6em;
    background: #5ab4bd;
}

h1:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 10px solid transparent;
    border-top: 10px solid #5ab4bd;
    width: 0;
    height: 0;
}

hr {
    border-top: 1px dashed #5ab4bd;
    border-bottom: 0px solid #5ab4bd;
}

button {
    position: relative;
    display: inline-block;
    height: 23px;
    margin: 2px;
    float: right;
    width: 75px;
    font-weight: bold;
    font-size: 13px;
    border: solid 1px #5ab4bd;
    text-decoration: none;
    color: #565656;
    background: #d9d9d9;
    transition: .4s;
}

button:hover {
    background: #5ab4bd;
    color: #fff;
}

button:disabled {
    background: #909090;
    border: solid 1px #909090;
    color: #565656;
}

input[type="text"] {
    font-size: 11.5px;
    font-family: "Meiryo UI";
}

.group_title_1 {
    font-size: 16px;
    font-weight: bold;
    color: #5ab4bd;
}

.group_title_2 {
    font-size: 13px;
    font-weight: bold;
    color: #5ab4bd;
}

.group_1 {
    border: solid 1px #5ab4bd;
    margin: 10px 0px;
    padding-top: 0px;
}

.group_2 {
    border: dashed 1px #5ab4bd;
    margin: 5px 0px;
}

.setting {
    margin-top: 4px;
    vertical-align: middle;
}

.list {
    width: 100%;
    height: 12em;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #B0B0B0;
}

.list_table {
    width: 100%;
    border-spacing: 0px 1px;
    table-layout: fixed;
}

.list_table_col_checkbox, .list_table_col_radiobutton {
    width: 20px;
}

.list_table_col_fav_icon {
    width: 18px;
}

.list_table_col_row, .list_table_col_id {
    display: none;
}

.list_table td {
    font-size: 11.5px;
    height: 20px;
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_table_col_tab_num {
    width: 30px;
}

.list_table .num_cell {
    font-weight: bold;
    text-align: right;
    text-overflow: clip;
    padding-right: 5px;
}

.list_table .row_cell, .list_table .id_cell {
    display: none;
}

.list_table .fav_icon {
    width: 14px;
    height: 14px;
}

#save_page_new_tabgroup {
    margin-right: 4px;
    margin-top: 3px;
}

#it_save_new_tabgroup {
    margin-top: 2px;
    width: 179px;
}

#cb_restore_is_empty_tabgroup:disabled ~ #restore_page_check_is_empty_tabgroup {
    color: gray;
}

#it_edit_new_name {
    margin-top: 3px;
    width: 110px;
}
